body{
	background-image: url("../img/layout/fondo.png"); 
	background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.container{
	padding-top: 40px;
}