body{
	background-image: url("../img/layout/fondo.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	padding-top: 20px;
	margin-top: 10px;
	margin-right: 35px;
	margin-left: 35px;
}

.logo >h1>a img {
	width: 250px;
}

.encabezado{
	
}