html, body {
  height: 100%;
}

body {
  /*background: url("../img/Pantalla de inicio png/fondo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
}

.tittle-font{
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  color: rgb(198, 154, 123);
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.encabezado{
  text-align: center;
  color: gold;
}

ul#menu{

}
.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
} 

.menu{
  width: 60%;
}

.hexagon { /* rectángulo negro */
    width: 165px;
    height: 230px;
    transform: rotate(75deg);
}
.hexagon-in1 { /* rectángulo blanco */
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-63deg);
}
.hexagon-in2 { /* rectángulo rojo */
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-63deg);
}

.hexagon {
    visibility: hidden;
    overflow: hidden;
}

.hexagon-in1 {
    overflow: hidden;
}

.hexagon-in2 {
    visibility: visible;
}

ul {text-align: center;}

.hexagon {
    display: inline-block;
    list-style-type: none;
}

.hexagon-in2 {
    background-color: rgba(204, 204, 204, 0.5);
    line-height: 200px;
    font-family: Courgette, sans-serif;
    font-size: 40px;
    color: #CCFF66;
    text-shadow: 1px 1px #000;
    transition: 1.5s ease-out;
}

 li:nth-child(1) span img{
    /*background-position: -15px center;*/
    padding: 76px 0px 58px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(25deg);
 }

li:nth-child(2) span img{
    /*background-position: -115px center;*/
    padding: 76px 0px 58px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(50deg);
 }

li:nth-child(3) span img{
    /*background-position: -215px center;*/
    padding: 76px 0px 58px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(50deg);
 }

li:nth-child(4) span img{
    /*background-position: -315px center;*/
    padding: 76px 0px 58px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(50deg);
 }

li:nth-child(5) span img{
    /*background-position: -415px center;*/
    padding: 76px 0px 58px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(50deg);
 }

li:nth-child(6) span img{
    /*background-position: -415px center;*/
    padding: 40px 0px 7px 0px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(22deg);
 }

li:nth-child(1).hexagon, li:nth-child(6).hexagon{
  width: 262px;
  height: 225px;
  transform: rotate(102deg);
}

li:nth-child(3).hexagon{
  width: 133px;
  height: 225px;
}

.hexagon-in2:hover {
    /*background-position: -565px center;*/
    background-color: rgba(204, 204, 204, 0.8);
  }
 /* 
.hexagon-in2:hover{

  background: url('http://lorempixel.com/250/350/people');
  }*/

.border-container{
    padding:46px 292px;
    border-color: #D4AF37;
}

.formulario{
  margin-top:200px;
  margin-left: auto;
  margin-right: auto;
  padding:25px 15px 15px 15px;
  width: 500px;
}

.edit-profile{
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
  padding:25px 15px 15px 15px;
}

.input-label{
  width: 100%;
  height: 36px;
  background-color: rgba(204, 204, 204, 0.78);
  padding: 6px 12px;
}

.input-label-2{
  width: 50%;
  height: 36px;
  background-color: rgba(204, 204, 204, 0.78);
  padding: 6px 12px;
}

.input-date{
  width: 50%;
  height: 63px;
  background-imgage:url('../img/Usuario/Teinda2/vencimien.png');
  padding: 6px 12px;
}

.select-label{
  font-weight: bold;
  color:rgba(0, 0, 0, 0.82);
  background-color: rgba(204, 204, 204, 0.78);
  width: 274px;
}

option{
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px; 
}

label{
  color: rgb(198, 154, 123);
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

input{
  color: rgb(198, 154, 123);
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  padding: 17px 0px 5px 0px;
  font-weight: bold;
}

.boton-registro{
  width: 42%;
  height: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.82);
  text-align: center;
  /*background-image: url('../img/Pantalla de inicio png/registro studio performer/boton registro.png');*/
  background-color: rgba(33, 32, 31, 0.69);
  margin-top: 54px;
  color: rgb(198, 154, 123);
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.btn:hover{
  color: rgb(198, 154, 123);
  font-weight: bold;
}


.form-control::-webkit-input-placeholder { 
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.select-label{
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.form-control:-moz-placeholder { 
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.form-control::-moz-placeholder { 
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.form-control:-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0.82);
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.form-control{
  border-radius: 0px;
}

.logo{
  margin-top: 35px;
}

.form-group{
  padding-right: 0px;
  padding-left: 8px;
}

.select-country{
  width: 50%;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.82);
  background-color: rgba(204, 204, 204, 0.78);
}

.form-group > label{
  padding-left: 8px;
}

.input-group{
  padding-bottom: 12px;
  width: 203px;
}

.registro{
  width: 500px;
  height: 500px;
  margin-top: 30px;
  background-color: rgba(33, 32, 31, 0.69);
}

.performer{
  height: 250px;
  margin-top: 10px;
}

.pandora{
  padding-top: 35px;
  padding-bottom: 30px;
}

.country{
  padding-bottom: 14px;
}

/*---- Login ----
-----------------
*/

.row-centered{
  text-align: center;
}

.col-centered{
  display: inline-block;
}

.formulario-login{
  background-image: url('../img/log in/caja.png');
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.login-mi-cuenta img{
  width: 40%;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.boton-login{
  width: 42%;
  height: 40px;
  font-weight: bold;
  /*color: rgba(0, 0, 0, 0.82);*/
  text-align: center;
  /*background-image: url('../img/Pantalla de inicio png/registro studio performer/boton registro.png');*/
  background-color: rgba(198, 154, 123, 0.9);


  margin-top: 54px;
  color: black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.display-inline{
  display: inline-block;
}

#img-cuenta img{
  width: 50%;
  height: 50%;
}

.boton-login:hover{
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

/*
#img-cuenta{
  background-color: rgba(204, 204, 204, 0.78);
  background-size: cover;
}

*/

.text-danger{
  font-weight: bold;
  font-size: 14px;
}

ul, .nav{
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
    background-color: rgba(204, 204, 204, 0.8);
}

.nav-pills > li:nth-child(1){
  color: rgb(198, 154, 123);
  background-color: rgba(33, 32, 31, 0.69);
}

.nav-pills > li:nth-child(2){
  color: rgb(198, 154, 123);
  background-color: rgba(33, 32, 31, 0.69);
}

.nav-pills > li:nth-child(1) > a{
  color: rgb(198, 154, 123);
}

.nav-pills > li:nth-child(2) > a{
  color: rgb(198, 154, 123);
}

.nav-pills > li:nth-child(3) > a{
  color: rgb(198, 154, 123);
}

.boton-toggle{  
  font-weight: bold;
  color: rgba(0, 0, 0, 0.82);
  text-align: center;
  background-color: rgba(33, 32, 31, 0.69);
  color: rgb(198, 154, 123);
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.boton-modal{
  font-weight: bold;
  width: auto;
  text-align: center;
  /*background-color: rgba(33, 32, 31, 0.69);*/
  background-color: rgba(204, 204, 204, 0.5);
  color: black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.modal-content{
  background-color: rgba(33, 32, 31, 1);
}

.text-modal{
  color: rgb(198, 154, 123);
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  text-align: left;
}

.imagen{
  padding-top: 10px;
}